@font-face {
    font-family: 'ButtonsFont';
    src: url(../fonts/test.ttf);}

@font-face {
    font-family: 'logofont';
    src: url(../fonts/logofont.otf);}

header{
    height: 5.8vw;
    width: 100vw;
    background-color: #142142;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
    overflow: hidden;
}

.click_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3.5vw;

}
.header_minilogo{
    color: white;
    font-family: logofont;
    padding: 0.7vw;
    font-size: 3.5vw;
    cursor: pointer;
}

.header_minilogo > img{
    width: 3vw;
    cursor: pointer;
}


.profile_data{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /*background-color: red;*/
    width: 77.5vw;
}

.menu_icon > img{
    height: 2.5vw;
    cursor: pointer;
}

.menu_icon{
    margin-right: 1vw;
    margin-left: 2vw;
}

.profile{
    font-size: 1.4vw;
    font-family: ButtonsFont;
    color: #b8d9ff;
    margin-left: 1vw;
    cursor: pointer;
}

.profile_icon > img{
    height: 2vw;
    border-radius: 10vw;
}

.profile_icon{
    margin-left: 0.7vw;
}

.menu{   		/* менять значение display на none */
    /*display: inline-flex;*/
    display: none;
    flex-direction: row;
    justify-content: space-between;
    /*justify-content: space-around;*/
    align-items: center;
    background-color: #42348C;
    min-height: 3vw;
    width: 100vw;
}

.menu_categories{
    font-family: ButtonsFont;
    font-size: 1.3vw;
    color: white;
    padding-left: 10vw;
    margin-right: 10vw;
    cursor: pointer;
    /*background-color: red;*/
}


.notification_icon {
    position: fixed;
    bottom: 4%;
    right: 1%;
}

.notification_icon > img {
    width: 3.2vw;
}

.notificatation_form {
    position: fixed;
    bottom: 5%;
    right: 5.5%;
    width: 25vw;
    display: flex;
    flex-direction: column;
    z-index: 3;
    opacity: 80%;
}

.notification_one {
    display: flex;
    flex-direction: row;
    padding: 0.5vw;
    background-color: #2b306a;
    margin-top: 0.7vw;
    border-radius: 10px;
    align-items: flex-start;
    border: solid 0.1vw #49409c;
}

.notification_text {
    width: 21vw;
    font-family: othertext;
    color: white;
    margin-left: 0.2vw;
    font-size: 1.2vw;
    word-break: break-all;
}

.notify_choice_of_action {
    display: flex;
    flex-direction: row;
}

.notification_icons {
    margin-left: 1vw;
    margin-right: 0.2vw;
    cursor: pointer;
}

.notification_icons > img {
    width: 1.1vw;
}
