@font-face {
  font-family: 'MainBoldFont';
  src: url(../fonts/15352.ttf);
}

@font-face {
  font-family: 'ButtonsFont';
  src: url(../fonts/test.ttf);
}

@font-face {
  font-family: 'logofont';
  src: url(../fonts/logofont.otf);
}

@font-face {
  font-family: 'bold';
  src: url(../fonts/16683.ttf);
}

@font-face {
  font-family: 'othertext';
  src: url(../fonts/19676.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  /*min-width: 900px;*/
}

header {
  height: 5.8vw;
  width: 100vw;
  background-color: #142142;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  overflow: hidden;
}

.click_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 3.5vw;
}
.header_minilogo {
  color: white;
  font-family: logofont;
  padding: 0.7vw;
  font-size: 3.5vw;
  cursor: pointer;
}

.header_minilogo > img {
  width: 3vw;
  cursor: pointer;
}

.profile_data {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /*background-color: red;*/
  width: 77.5vw;
}

.menu_icon > img {
  height: 2.5vw;
  cursor: pointer;
}

.menu_icon {
  margin-right: 1vw;
  margin-left: 2vw;
}

.profile {
  font-size: 1.4vw;
  font-family: ButtonsFont;
  color: #b8d9ff;
  margin-left: 1vw;
  cursor: pointer;
}

.profile_icon > img {
  height: 2vw;
  border-radius: 10vw;
}

.profile_icon {
  margin-left: 0.7vw;
}

main {
  background-color: #111b33;
  display: flex;
  min-height: 100vh;
  width: 100vw;
  justify-content: center;
}

.recovery_block {
  display: flex;
  flex-direction: column;
  margin-top: 12vw;
  width: 33vw;
}

.main_text {
  font-family: MainBoldFont;
  color: #2d3d6e;
  font-size: 1.8vw;
  margin-bottom: 2vw;
}

input {
  outline: none;
}

.button {
  height: 2vw;
  padding: 0 0.5vw 0 0.5vw;
  font-family: othertext;
  font-size: 1vw;
  border-radius: 0.45vw;
  border: none;
  background-color: #6d6ca0;
  cursor: pointer;
  width: 31.2vw;
}

.line_to_check {
  display: flex;
  flex-direction: row;
}

.input_form {
  width: 31vw;
  background-color: white;
  margin-bottom: 2vw;
  height: 2vw;
  padding: 0 0.5vw 0 0.5vw;
  font-family: othertext;
  font-size: 1.5vw;
  border-radius: 0.45vw;
  border: none;
}

.input_form::placeholder {
  font-style: italic;
  font-size: 1.2vw;
}

.checking_circle {
  width: 1vw;
  height: 1vw;
  border-radius: 5vw;
  color: white;
  /* красный: #FF26C2 ; зеленый: #26FF29 */
  border: solid;
  border-width: 2px;
  margin-top: 0.3vw;
  margin-left: 0.5vw;
  opacity: 30%;
}
