@font-face {
  font-family: 'MainBoldFont';
  src: url(../fonts/15352.ttf);
}

@font-face {
  font-family: 'ButtonsFont';
  src: url(../fonts/test.ttf);
}

@font-face {
  font-family: 'logofont';
  src: url(../fonts/logofont.otf);
}

@font-face {
  font-family: 'bold';
  src: url(../fonts/16683.ttf);
}

@font-face {
  font-family: 'othertext';
  src: url(../fonts/19676.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  /*min-width: 900px;*/
}

header {
  height: 5.8vw;
  width: 100vw;
  background-color: #142142;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  overflow: hidden;
}

.click_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 3.5vw;
}
.header_minilogo {
  color: white;
  font-family: logofont;
  padding: 0.7vw;
  font-size: 3.5vw;
  cursor: pointer;
}

.header_minilogo > img {
  width: 3vw;
  cursor: pointer;
}

.profile_data {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /*background-color: red;*/
  width: 77.5vw;
}

.menu_icon > img {
  height: 2.5vw;
  cursor: pointer;
}

.menu_icon {
  margin-right: 1vw;
  margin-left: 2vw;
}

.profile {
  font-size: 1.4vw;
  font-family: ButtonsFont;
  color: #b8d9ff;
  margin-left: 1vw;
  cursor: pointer;
}

.profile_icon > img {
  height: 2vw;
  border-radius: 10vw;
}

.profile_icon {
  margin-left: 0.7vw;
}

main {
  background-color: #111b33;
  display: flex;
  min-height: 100vh;
  width: 100vw;
  justify-content: center;
}

.main_block {
  display: flex;
  flex-direction: column;
  margin-top: 12vw;
  width: 33vw;
}

.text {
  font-family: othertext;
  color: #6d6ca0;
  font-size: 1.2vw;
  margin-top: 4vw;
  margin-bottom: 1vw;
  cursor: pointer;
}

.main_text {
  font-family: MainBoldFont;
  color: #2d3d6e;
  font-size: 1.8vw;
  margin-bottom: 1vw;
}
