.com_party_place{
    display: flex;
    flex-direction: column;
}

.row1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-bottom: 1.9vw;
}

.form1{
    height: 8vw;
    width: 16vw;
    background-color: #6071F9;
    border-radius: 2.3vw;
    margin-right: 1.9vw;
}

.form2{
    height: 8vw;
    width: 16vw;
    background-color: #7C65FB;
    border-radius: 2.3vw;
    margin-right: 2vw;
}

.form3{
    height: 8vw;
    width: 16vw;
    background-color: #8D56FC;
    border-radius: 2.3vw;
}


.formsdata{
    height: 2vw;
    display: flex;
    flex-direction: row;
    /*background-color: red;*/
    margin-top: 1.2vw;
    margin-left: 1.2vw;
    margin-right: 1.2vw;
}

.form_img > img{
    height: 2.2vw;
    width: 2.2vw;
    border-radius: 10vw;
}

.party_creator{
    font-family: othertext;
    color: white;
    font-size: 1.2vw;
    margin-left: 0.7vw;
    margin-top: 0.2vw;
    height: 1.4vw;
    overflow: hidden;
}

.row2{
    display: flex;
    flex-direction: row;
}

.participants{
    width: 12vw;
    height: 2vw;
    background-image: -webkit-linear-gradient(left, white, rgba(0, 0, 0, 0));
    border-radius: 10vw;
    color: black;
    padding-left: 1vw;
    margin-left: 1vw;
    margin-top: 1vw;
    font-family: othertext;
    font-size: 1.2vw;
    line-height: 1.9vw;
    overflow: hidden;
}

.party1_password{
    width: 12vw;
    height: 2vw;
    padding-left: 1vw;
    margin-left: 1vw;
    margin-top: 1vw;
    font-family: othertext;
    font-size: 1.2vw;
    border-radius: 10vw;
    border: none;
    background: linear-gradient(to right, white, #6071F9);;
}


.party2_password{
    width: 12vw;
    height: 2vw;
    padding-left: 1vw;
    margin-left: 1vw;
    margin-top: 1vw;
    font-family: othertext;
    font-size: 1.2vw;
    border-radius: 10vw;
    border: none;
    background: linear-gradient(to right, white, #7C65FB);;
}


.party3_password{
    width: 12vw;
    height: 2vw;
    padding-left: 1vw;
    margin-left: 1vw;
    margin-top: 1vw;
    font-family: othertext;
    font-size: 1.2vw;
    border-radius: 10vw;
    border: none;
    background: linear-gradient(to right, white, #8D56FC);;
}

.party_password::placeholder{
    font-size: 1.2vw;
    font-family: othertext;
    opacity: 50%;
    font-style: italic;
}


.come_in > img{
    width: 2.2vw;
    /*height: 2.2vw;*/
    margin-top: 0.9vw;
    margin-left: -1.3vw;
    cursor: pointer;
}


.partyPassword > input{
    border:none;
    width: 14vw;
    border-radius: 10vw;
    height: 2vw;
    color: black;
    padding-left: 1vw;
    margin-left: 1vw;
    margin-top: 1vw;
    line-height: 1.9vw;
    overflow: hidden;
    display:none;
}

.partyPassword > input::placeholder{
    font-family: othertext;
    font-style: italic;
    font-size: 1vw;
}