<!DOCTYPE html>

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Восстановление пароля</title>
    <link href="../Css/passwordRecovery.css" rel="stylesheet" />
    <link th:href="@{/styles/headerStyle.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../js/jquery.js"></script>
  </head>

  <body>
    <header>
      <div class="click_logo">
        <span class="header_minilogo"> <img src="../images/minilogo.png" /> </span>
        <span class="header_minilogo"> POLARGAME </span>
      </div>

      <div class="profile_data">
        <span class="profile" id="profile"> TESTTT </span>
        <div class="profile_icon"><img src="../images/profile_icon.png" /></div>
        <span class="menu_icon"> <img id="menu_icon" src="../images/menu_icon.png" /></span>
      </div>
    </header>

    <main>
      <div class="recovery_block">
        <div class="main_text">Восстановление пароля</div>
        <input
          type="text"
          id="emailForRestore"
          placeholder="Введите ваш email"
          class="email_input"
        />
        <div class="text">Получить письмо, содержащее ссылку для смены пароля:</div>
        <button class="button" id="pushEmailButtonForRestore">ПРОДОЛЖИТЬ</button>
      </div>
    </main>

    <script src="../js/GetInfoModul.js"></script>
    <script src="../js/GameController.js"></script>
  </body>
</html>
